.container,
.container2 {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.container2 {
  width: 300px !important;
}
.container div {
  width: 150px;
  min-height: 50px;
}

.w300 {
  width: 300px !important;
}

.h100 {
  min-height: 100px !important;
}

.w600 {
  width: 600px !important;
}

.mauve {
  background-color: #9931cc;
}
.rouge {
  background-color: #fe0000;
}
.gris {
  background-color: #c0c0c0;
}
.orange {
  background-color: #fea500;
}
.rose {
  background-color: #ee807f;
}
.gris-clair {
  background-color: #f3fef0;
}
.jaune {
  background-color: #ffff01;
}
.vert {
  background-color: #027f01;
}
